section#about
    .avatar Gary Caseman
    nav
        button.dropdown(onclick='menuClick()') Menu
        #nav-dropdown.dropdown-items
            a(href="#about") About
            a(href="#project") Projects
            a(href="#contact") Contact
    h1 About
    p.bigger.
        I am a Front-end developer. Founder of <a href="http://www.gcwebdev.com">GC Web Development.</a> 
        Very passionate about web design and development. I have been dabbling with web design
        for many years as a hobby. I have recently decided to focus more attention on it to 
        hopefully get a full time position.
    h3 Technologies
    .badge-wrapper
        .badge
            img.icon(src="/assets/img/HTML5.png")
            .caption.small HTML
        .badge
            img.icon(src="/assets/img/CSS3.png")
            .caption.small CSS
        .badge
            img.icon(src="/assets/img/sass.svg")
            .caption.small Sass
        .badge
            img.icon(src="/assets/img/pug.png")
            .caption.small Pug
        .badge
            img.icon(src="/assets/img/jquery.svg")
            .caption.small jQuery           
