section#project
    h1 Projects
    .example
        a(class='example-title' href='http://www.gcwebdev.com')  GC Web Development
        .example-desc
            a(class='example-thumb' href='http://www.gcwebdev.com')
                img.example-img(src="/assets/img/gcwebdev.png")
            p.bigger.form-text.
                This is a site I created for my freelance work. This is a Jekyll project written in 
                Sass and Pug.
    .example
        a(class='example-title' href='https://wingsfan70.github.io/ACME_AC/') ACME Air Conditioning
        .example-desc
            a(class='example-thumb' href='https://wingsfan70.github.io/ACME_AC/')
                img.example-img(src="/assets/img/acmeair.png")
            p.bigger.form-text.
                This was a project I started for an AC company. About half way through development
                they decided they did not want a new site. I finished the site just for the experience.    


