<section id="contact"><h1>Contact Me</h1><div class="form-wrapper"><div class="form-body"><form><div class="field-input"><input type="text" placeholder="First Name" /></div><div class="field-input"><input type="text" placeholder="Last Name" /></div><div class="field-input"><input type="email" placeholder="Email" /></div><textarea rows="5" placeholder="Enter message here"></textarea>
<input class="btn-send" type="submit" value="Send" />           </div><div class="p bigger form-text">Feel free to contact me. All you need to do is
fill out the form. 
I will entertain almost any question. Be it a question
about my experience or just to to say hello.<br>
I will get back to you A.S.A.P.</div></div></section>