.example
    display: flex
    flex-direction: column
    margin-bottom: 30px
    //@media (max-width: 660px)
    //    flex-direction: column
    //    align-items: center

.example-thumb
    @media (max-width: 1300px)
        align-self: center
    @media (max-width: 1150px)
        align-self: flex-start

.example-img
    width: 320px
    height: 240px
    @media (max-width: 1300px)
        margin-bottom: 20px
    @media (max-width: 825px)
        width: 250px
    @media (max-width: 660px)
        width: 320px
    @media (max-width: 445px)
        width: 250px

.example-title
    margin: 0 0 20px 0
    font-size: 40px
    align-self: center
    @media (max-width: 750px)
        font-size: 35px
    @media (max-width: 600px)
        font-size: 25px

.example-desc
    display: flex
    flex-direction: row 
    flex-wrap: nowrap 
    @media (max-width: 1300px)
        flex-direction: column
    @media (max-width: 1115px)
        flex-direction: row
    @media (max-width: 660px)
        flex-direction: column